@model TaskVM
@{
    Layout = "_LayoutAdmin";
}
<h2 class="m-2 text-primary">Information Task</h2>
<hr />

<div class="row w-75 m-auto">

    <div class="col-6">
        <div class="form-group ">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" readonly />
        </div>

        <div class="form-group ">
            <label asp-for="Duration"></label>
            <input asp-for="Duration" class="form-control" readonly />
        </div>
        <div class="form-group ">
            <label asp-for="DueDate"></label>
            <input asp-for="DueDate" class="form-control" readonly />
        </div>
        <div class="form-group ">
            <label>Username Emplyee</label>
            <input value="@Model.EmployeeVm.Username" class="form-control" readonly />
        </div>
        <div class="form-group ">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="3" readonly></textarea>
        </div>
    </div>
    <div class="col-6">

        <div class="form-group ">
            <label asp-for="Priority"></label>
            <input asp-for="Priority" class="form-control" readonly />
        </div>
        <div class="form-group ">
            <label asp-for="Status"></label>
            <input asp-for="Status" class="form-control" readonly />
        </div>
        <div class="form-group ">
            <label asp-for="CreatedAT"></label>
            <input asp-for="CreatedAT" class="form-control" readonly />
        </div>

        <div class="form-group ">
            <label >Email Emplyee</label>
            <input  value="@Model.EmployeeVm.Email" class="form-control" readonly />
        </div>

        @if (false)
        {
    <div class="form-group ">
        <input asp-for="EmployeeId" class="form-control" readonly />
    </div>}

        <div class="form-group mt-5 text-center d-flex justify-content-end">
            <a asp-action="GetTasksProgrammer" class="btn btn-secondary font-weight-bold w-25" style="font-size: 17px;">Back</a>
        </div>
    </div>

</div>
