@model CategoryVM
@{
    Layout = "_LayoutAdmin";
}
<h2 class="m-5">Details Category</h2>
<hr />

<div class="w-50 m-auto">
    <div class="form-group ">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <br />
    <div class="form-group ">
        <label asp-for="CreatedAT"></label>
        <input asp-for="CreatedAT" class="form-control" readonly />
    </div>
    <br />

   
    <div class="form-group mt-5 w-50 text-center d-flex justify-content-around">
        <a asp-action="index" class="btn btn-secondary font-weight-bold w-50" style="font-size: 17px;">Back</a>
    </div>
</div>
