@model ReviewVM

<div class="container">
    <div class="form">
        <form asp-controller="Reviews" asp-action="Create" method="post" role="form">
            <div class="row">
                @*<div class="form-group col-md-6">
                    <input asp-for="Name" class="form-control" id="nameid" placeholder="Your Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                    <input asp-for="Email" class="form-control" id="email" placeholder="Your Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>*@
            </div>
            <div class="form-group mt-3">
                <input asp-for="Subject" class="form-control" id="subject" placeholder="Subject">
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <textarea asp-for="Massage" class="form-control" rows="5" placeholder="Message"></textarea>
                <span asp-validation-for="Massage" class="text-danger"></span>
            </div>



            <div class="text-center m-5"><button type="submit" class="btn btn-success">Send Message</button></div>
        </form>
    </div>

</div>


@*@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}*@
