@model AdvertisementVM

@{ Layout = "_LayoutCustomer"; }

<h2 class="text-danger">Remove Advertisement</h2>
<hr />
<div class="container mb-5">
    <div class="w-50 d-flex flex-column m-auto">
        <p>Are you sure to delete this Advertisement <span class="text-danger">" @Model.Name" </span>?</p>

        <br />
        <img src="@Model.PhotosNames.First()" width="400" height="300" />
        <div>
            <a asp-action="DeleteAdv" asp-route-id="@Model.ID" class="btn btn-danger">Delete</a>
            <a asp-action="GetById" class="btn btn-secondary">Cancel</a>
        </div>
    </div>

</div>
